<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
      <a href="https://github.com/RabijanR" target="_blank" class="text-light me-3">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/rabijan-ragupalan-4122152b8/" target="_blank" class="text-light">
        <i class="fa-brands fa-square-linkedin"></i> LinkedIn
      </a>
    </div>
    <h6 class="navbar-text text-center w-100 mb-0">&copy; 2025. All rights reserved.</h6>
  </nav>
  <script src="/script/app.js"></script>
</footer>
</body>
</html>
