<%- include("partials/header") %>
<%- include("partials/main_nav") %>

<div class="container mt-5 text-light">

  <h2>About Me</h2>

  <div class="row mt-4">

    <div class="col-md-4">
      <img src="/Asset/images/Me.jpg" class="img-fluid rounded" alt="Rabijan Ragupalan">
      <p class="mt-2 text-center">Rabijan Ragupalan</p>
    </div>

    <div class="col-md-8">
      <p>Hello! I'm Rabijan, a Networking and IT student at Ontario Tech University. I began my studies in engineering, which gave me experience in design and hands-on repair projects, before transferring into IT to focus on networking and systems.</p>

      <p>Here’s a short introduction video about me:</p>

      <video class="w-100 rounded" controls poster="/Asset/images/on_record.jpg">
        <source src="/Asset/images/Video.mp4" type="video/mp4">
      </video>

    </div>
  </div>

</div>

<%- include("partials/footer") %>
