body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* Background image */
  background-image: url("/Asset/images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* Make text readable on image */
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* Links */
a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
